/*************index.html相关***************/
#Container {
	background-color: #fff3f9;
	overflow: hidden;
	background-image: url(../images/background_mobile.png);
	background-repeat: no-repeat;
	background-position: top;
}
/*#Header {
	border-radius: 25px;
	text-align: center;
	background-color: #B2DEFF;
	padding: 2%;
	letter-spacing: 0.3em;
	font-size: 200%;
	font-weight : 700;
	font-family: "SimSun", Sans-Serif;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 15%;
	margin-left: 15%;
}
#logo {
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}*/
#Content {
	overflow: auto;
}

#Content-Main {
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.6); 
	padding: 2%;
	//box-shadow: 5px 5px 5px #888888;
	margin-top: 30%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	border:1px solid #278FC9;
	background-image: url(../images/bk1.png);	
	background-size:60%;
	background-repeat:no-repeat;
  	background-position:50% 50%;
}

#guestbook {
	border-radius: 25px;
	background-color: rgba(229,248,255,0.6);
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	padding: 2%;
	//box-shadow: 5px 5px 5px #888888;
	border:1px solid #278FC9;
	z-index:2;
}
#Footer {
	border-radius: 25px;
	height: 10%;
	background-color: rgba(216,249,233,0.6);
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 22%;
	//box-shadow: 5px 5px 5px #888888;
	border:1px solid #278FC9;
}
#lmenu {
	display: none;
}
/*************index.html相关***************/


/*************菜单按钮相关**************/
.tree {
	position: absolute;
	left: 1px;
	top: 1px;
	min-height: 20px;
	border: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	margin-top: 29%;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	z-index:5;
}
.tree li {
    list-style-type:none;
    margin-left:-0.5em;
    padding:0.5em 3px 0 0px;
    background-color: rgba(0, 0, 0, 0);
    position:relative;  
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {	
    cursor:pointer    
}

.tree li>ul {
		display:none;
}

.tree li span:hover{
    background:#DDFEC8;
    border:1px solid #94a0b4;
    color:#000
}

.button1{
	background-color:rgba(210,238,255,0.8)
}

.button2{	
	background-color:rgba(251,253,172,0.8)
}

.leaf{	
	background-color:rgba(255,238,249,0.8)
}

.FloatMenu {
    position:fixed;
    right:0px;
    top:85%;
    border:0px; 
    padding:0px;
    margin: 0px;
    min-height:20px;
    background-color: rgba(0, 0, 0, 0);  
    z-index:999;
}

.FloatMenu span {
  border:1px solid #999;
  border-radius:5px;
  padding:3px 8px;
  margin-top: 5px;
  background-color:rgba(251,253,172,0.8);
}

.FloatMenu span a {
	text-decoration:none;
	color:#333333;
}

.FloatMenu span:hover{
    background:#DDFEC8;
    border:1px solid #94a0b4;
    color:#000
}

