/*************单页分割线***************/
hr.mhr {
	border: 1px dashed #2E9FCC;
}
/*************单页普通字体*****************
	"SimSun"-------------宋体
  "Microsoft YaHei"----微软雅黑 
******************************************/ 
/*************链接***************/ 
a {
	text-decoration:none;
	color:#3377ff;
	font-family:"Microsoft YaHei", Sans-Serif;
}

a:hover {
	text-decoration:none;
	color:#B576FF;
	font-family:"Microsoft YaHei", Sans-Serif;
}

/*************正文段首缩进字体***************/ 
p.indenttext {
	font-size: 90%;
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #111111;
	line-height: 1.8em;
	text-indent:2em;
}

/*************正文居中字体***************/ 
p.center {
	font-size: 90%;
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #111111;
	line-height: 1.8em;
	text-align: center;
}

/*************攻略左对齐字体***************/ 
p.normal,label,p.filter-table {
	font-size: 100%;
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #111111;
	line-height: 1.5em;
}
p.normal br {
	display: block;
	margin: 1.2em;
	content: " ";
}
/*************关卡名字字体***************/ 
p.title1 {
	font-size: 140%;
	font-weight : 800;
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #1F4499;
	text-align: center;
}
/*************分割标题字体***************/ 
p.title2 {
	font-size: 120%;
	font-weight : 700;
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #1F3489;
	text-align: center;
}
/*************行首标题字体***************/ 
span.title3 {
	font-weight : 900;
	color: #111111;
}
/*************关卡说明字体***************/ 
span.comment {
	color: #000000;
}
/*************顶配字体***************/ 
span.top {
	color: #0050FF;
}
/*************顶配代替字体***************/ 
span.instead {
	color: #111111;
}
/*************标配字体***************/ 
span.general {
	color: #111111;
}
/*************新手字体***************/ 
span.newguy {
	color: #111111;
}

span.jump{
	color: #333333;
	font-family:"Microsoft YaHei", Sans-Serif;
	font-size: 90%;
}

span.bold7 {
	font-weight:700;
}

/*************table***************/ 
table {
	border:solid #999;
	border-width:1px 0px 0px 1px;
	border-spacing:0;
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #111111;
	line-height: 1.5em;
}

td {
	border:solid #999;
	border-width:0px 1px 1px 0px;
	border-spacing:0;
}

tr:nth-child(2n+1) {
	background: rgba(234, 242, 250, 0.5);
	font-size: 90%;
	text-align : left;
	text-align : center;
}
tr:nth-child(2n) {
	background: rgba(219, 229, 248, 0.5);
	font-size: 90%;
	text-align : left;
	text-align : center;
}

tr:nth-child(1) {
	font-size: 100%;
	font-weight : 700;
	text-align : center;
	background-color: rgba(191, 219, 255, 0.9);
}

tr:nth-child(1) td a {
	color:#232425;
}

/*************防滚条***************/ 
body {
    /*overflow-y:hidden;*/
    margin-bottom:150px;
}
