/*************index.html相关***************/
#Container {
	background-color: #D7CAF2;
	overflow: hidden;
	background-image: url(../images/background_mobile.png);
	background-repeat: no-repeat;
	background-position: top;
}
/*#Header {
	border-radius: 25px;
	text-align: center;
	background-color: #B2DEFF;
	padding: 2%;
	letter-spacing: 0.3em;
	font-size: 200%;
	font-weight : 700;
	font-family: "SimSun", Sans-Serif;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 15%;
	margin-left: 15%;
}
#logo {
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}*/
#Content {
	overflow: auto;
}

#Content-Main {
	border-radius: 25px;
	height:100em;
	background-color: rgba(255, 255, 255, 0.6); 
	padding: 2%;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 30%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	
}

#guestbook {
	border-radius: 25px;
	background-color: #E5F8FF;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	padding: 2%;
	box-shadow: 5px 5px 5px #888888;
}
#Footer {
	border-radius: 25px;
	height: 1.5em;
	background-color: #D8F9E9;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	padding: 2%;
	box-shadow: 5px 5px 5px #888888;
}
/*************index.html相关***************/


/*************菜单按钮相关**************/
.tree {
	position: absolute;
	left: 1px;
	top: 1px;
	min-height: 20px;
	border: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	margin-top: 21%;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.tree li {
    list-style-type:none;
    margin-left:-0.5em;
    padding:0.5em 3px 0 0px;
    background-color: rgba(0, 0, 0, 0);
    position:relative;  
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {	
    cursor:pointer    
}

.tree li>ul {
		display:none;
}

.tree li span:hover{
    background:#DDFEC8;
    border:1px solid #94a0b4;
    color:#000
}

.button1{
	background-color:#D2EEFF
}

.button2{	
	background-color:#FBFDAC
}

.leaf{	
	background-color:#FFEEF9
}
