/*************单页分割线***************/
hr.mhr {
	border: 1px dashed #2E9FCC;
}
/*************单页普通字体*****************
	"SimSun"-------------宋体
        "Microsoft YaHei"----微软雅黑   
******************************************/ 
p.normal {
	font-size: 95%;
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #111111;
	line-height: 1.8em;
}
/*************关卡名字字体***************/ 
p.title1 {
	font-size: 180%;
	font-weight : 700;
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #1F4499;
	text-align: center;
}
/*************分割标题字体***************/ 
p.title2 {
	font-size: 100%;
	font-weight : 700;
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #111111;
	text-align: center;
}
/*************行首标题字体***************/ 
span.title3 {
	font-weight : 700;
	font-family: "Microsoft YaHei", Sans-Serif;
}
/*************关卡说明字体***************/ 
span.comment {
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #5151FF;
}
/*************顶配字体***************/ 
span.top {
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #D52918;
}
/*************顶配代替字体***************/ 
span.instead {
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #306DE5;
}
/*************标配字体***************/ 
span.general {
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #111111;
}
/*************新手字体***************/ 
span.newguy {
	font-family: "Microsoft YaHei", Sans-Serif;
	color: #47A86E;
}
/*************table***************/ 
table {
	border:solid #999;
	border-width:1px 0px 0px 1px;
	border-spacing:0;
}
td {
	border:solid #999;
	border-width:0px 1px 1px 0px;
	border-spacing:0;
}

tr.head {
	font-size: 100%;
	font-weight : 700;
	text-align : center;
	background-color: #BFDBFF;
	color:232425;
}

tr.tr1 {
	font-size: 90%;
	text-align : center;
	background-color: #EAF2FA;
	color:232425;
}

tr.tr2 {
	font-size: 90%;
	text-align : center;
	background-color: #DBE5F1;
	color:832425;
}
