table.calcByAll {
  width:100%;
  table-layout:fixed;
}
table.calcByAll tr td:nth-child(-n+3) {
  width:10%;
}
table.calcSrc tr td:nth-child(3),table.calcSrc tr td:nth-child(4) {
  width:7.5%;
}
td.inTop,td.haveTop {
  color:red;
  background-color: rgba(255, 230, 245, 0.5);
}
.nobr {
  white-space:nowrap;
}
td a {
  color:inherit;
  text-decoration:underline;
}
a.aTooltip {
  text-decoration:none;
}
[tooltip]:hover:before {
	margin-top:25px; 
	margin-left:-80px; 
	padding: 5px; 
	position: absolute; 
	content: attr(tooltip);
	display: inline-block; 
	z-index: 255; 
	white-space:pre;
	color: black; 
	background-color: #FFFFFA;
	text-align:left;
}
.normTip [tooltip]:hover:before {
	margin-left:0px; 
	width: 170px; 
	word-break:break-all; 
	white-space:pre-wrap;
}
.limit {
  display:none;
}
